/* main.css */

@import url(fonts.css);
/*@import url(reports.css);*/


body {
	/*background: #F5F5F5;*/
	background: black;
	margin: 0;
	border: 0;
	padding: 70px 0 0 0;
	font-family: 'Fira Sans';
}

div {
	/*font-weight: 100;*/
	/*font-style: 'italic';*/
	margin: 0;
	border: 0;
	padding: 0;
}

.shoreline-logo, h1, h2, h3, h4, h5, h6 {
	font-family: 'Fira Sans';
	font-weight: normal;
	text-shadow: 0 1px 0 #E0E0E0;
}

.logo-shore {
	color: rgb(100, 100, 100);
	font-weight: bold;
}

.logo-line { color: rgb(224, 71, 45); }

.shore {
	color: #D3D3D3;
	font-weight: 300;
}

.line { color: #F00; }

.fira-test {
	font-family: 'Fira Sans';
	color: blue;
	font-size: 30pt;
}

.title {
	/*background: #BAD4F8;*/
	/*height: 2em;*/
	/*line-height: 2em;*/
	margin: 30px 0px;
	/*margin-bottom: 30px;*/

	text-align: center;
	font-size: 45pt;
}

.title h1 {
	font-family: 'Fira Sans';
	font-weight: 200;
	font-size: 52pt;
}

.sl-info {
	background: #f5f5f5;
	border: 1px solid #b0b0b0;
	border-radius: 4px;
}

.separator {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 2em;
}

.section {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1em;
}
